.bloque {
    height: 20rem;
    width: 100rem;
    background-color: #333;
    margin: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 2rem;
    font-weight: bold;
}

.container-bloque {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 6rem;
}

.casilla-bloque {
    background-color: white;
    width: auto;
    height: auto;
    margin: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.casilla-bloque:hover {
    background-color: #4b4b4b;
    color: white;
}

.enca-bloque {
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
}

.contac-full {
    padding-bottom: 7.5rem;
}

.section-perfil {
    margin-top: 10rem;
    padding: 3rem;
}

.container-perfil {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bloque-plan {
    width: 60rem;
    height: 25rem;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.planes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    color: #333;
}

.plan {
    color: white;
    background-color: #272727;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuario-perfil {
    cursor: pointer;
}

@media (max-width: 767px) {
    .bloque {
        height: 22rem;
        width: 100rem;
        background-color: #333;
        margin: 2rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        border-radius: 2rem;
        font-weight: bold;
    }
    .container-bloque {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 10rem;
    }
    .section-perfil {
        margin-top: 10rem;
        padding: 3rem;
    }
    .container-perfil {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }
    .bloque-plan {
        width: auto;
        height: auto;
        background-color: #333;
        color: white;
        padding: 1rem;
    }
    .planes {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        color: #333;
    }
    .plan {
        color: white;
        background-color: #272727;
        width: 20rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .usuario-perfil {
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .bloque {
        height: 22rem;
        width: 100rem;
        background-color: #333;
        margin: 2rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        border-radius: 2rem;
        font-weight: bold;
    }
    .container-bloque {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 10rem;
    }
}