.bloque {
    height: 20rem;
    width: 150rem;
    background-color: #333;
    margin: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.container-bloque {
    margin-top: 10rem;
}

.casilla-bloque {
    background-color: white;
    width: auto;
    height: auto;
    margin: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.casilla-bloque:hover {
    background-color: #4b4b4b;
    color: white;
}

.enca-bloque {
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
}

.contac-full {
    padding-bottom: 7.5rem;
}

.section-perfil {
    margin-top: 10rem;
    padding: 3rem;
}

.container-perfil {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bloque-plan {
    width: 60rem;
    height: 25rem;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.planes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    color: #333;
}

.plan {
    color: white;
    background-color: #272727;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}