a {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

ul.dropdown li {
    display: inline-block;
    position: relative;
}

ul.dropdown li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

ul.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

ul.dropdown ul li {
    display: block;
}

ul.dropdown li:hover ul {
    display: block;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(52, 52, 52, 1);
    z-index: 1;
}

.navbar {
    height: auto;
    background-color: rgba(52, 52, 52, 1);
    display: grid;
    grid-template-columns: repeat(2, 80% 20%);
    padding: 1rem;
}

.menu-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
    gap: 1rem;
    margin-top: 6rem;
}

.fondo-gen {
    display: grid;
    justify-items: start;
    align-items: center;
}

.fondo-banner {
    color: white;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgba(52, 52, 52, 1);
    max-width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-ban {
    display: flex;
    justify-content: flex-end;
}

.text-barra {
    font-size: 3.5rem;
}

.barra-inf {
    display: flex;
    justify-content: center;
    width: 120rem;
    background-color: rgba(217, 217, 217, 1);
    margin: 0 auto;
}

.container-uno {
    display: grid;
    justify-items: center;
    padding: 2rem;
}

.container-dos {
    display: grid;
    justify-items: center;
    padding: 2rem;
}

.selector {
    background-color: #ccc;
    margin: 1rem;
}

.uno {
    width: 60rem;
    height: 50rem;
    background-color: rgba(0, 249, 181, 1);
}

.dos {
    width: 60rem;
    height: 50rem;
    background-color: rgba(0, 249, 181, 1);
}

.container-trad {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.frase-dos {
    padding: 1rem;
    font-size: 1.5rem;
}

.center {
    text-align: center
}

.linea-sep {
    width: 60rem;
    height: 0.2rem;
    background-color: #333;
    margin: 0 auto;
}

.container-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 16rem;
    margin-right: 16rem;
    margin-bottom: 2rem;
}

.card {
    background-color: #333;
    width: 40rem;
    height: 20rem;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

.foot {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-inf {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #333;
    padding: 3rem;
    gap: 1rem;
}

.form {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.correo {
    width: 20rem;
    height: 1rem;
    background-color: white;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #494848;
    color: white;
    border-color: #fff;
}

.contactos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    color: white;
}

.btones {
    display: grid;
    width: 40rem;
    height: 10rem;
    gap: 1rem;
}

.btn-nv {
    background-color: #494848;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-nv:hover {
    background-color: #343434;
    color: white;
    border-color: #fff;
}